body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0px;
  min-height: 100vh;
   display: flex;
   justify-content: center;
    background:white;
  /*margin: 0;
  padding: 0;*/
}
h1 {
  text-align: center;
  margin-bottom: 0px;
  color: #e74c0f;
}
h2 {
  margin-top: 30px ;
  color: #a30505;
  background-color: white;
  border-radius: 18px;
}
.container{
    margin: 0px auto;
    padding: 20px;
    max-width: 1100px;
    margin-top: 0px;
}
.book-form button:hover{
    background-color: #db3214;
    color: black;
}
.book-form button{
    color: black;
    background-color: #3498db;
    padding: 10px;
    border-radius: 8px;
    
    
}
.book-form{
  margin:10px;
  background-color: white;
  color: #a30505;
  border-color:rgb(75, 133, 133);
  padding: 10px;  
  
}
.book-form input{
    width: 100%;
    padding:5px ;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
}
.books{
    display: flex;
    flex-wrap: wrap;
    gap:20px ;
    margin-top: 20px;
}
.book-card{
    background:wheat;
    border: radius 8px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: /*transform 0.35s ease-in-out,*/
                transform 0.45s cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 0.35s ease-in-out;
}
.book-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.book-card h3{
    color: #555;
    margin: 3px 0;
}
.book-card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.book-card img {
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}
.book-card:hover img {
    transform: scale(1.05);
}
